{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "arrowParens": "always"
}
